body {
    background-color: red;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

.container {
    background-color: red;
    width: 300px;
    height: 200px;
    margin: 30px;
}
.content {
    width: 50%;
    height: 50%;
    
}